# NumPy Functions :

In [3]:
import numpy as np

# arange()

In [20]:
#np.arange(START, END, STEP)
ar_1d = np.arange(1, 25, 2)
print(ar_1d)

[ 1  3  5  7  9 11 13 15 17 19 21 23]

In [5]:
even_ar = np.arange(1, 13, 2)
even_ar

array([ 1,  3,  5,  7,  9, 11])

# linspace()

In [10]:
## we use linspace function when neeed values with equal gap
#np.linspace(start, end, how many values we need in start-end range)
np.linspace(1, 10, 10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

# reshape()

In [ ]:
## when we need to convert 1D arary into 2-3D array

In [26]:
ar_2d = ar_1d.reshape(3,4)
ar_2d

array([[ 1,  3,  5,  7],
       [ 9, 11, 13, 15],
       [17, 19, 21, 23]])

In [28]:
## conversion of 1D to 3D
##array name.reshape(3D,Rows,Column)
ar_3d = ar_1d.reshape(2,3,2)
ar_3d

array([[[ 1,  3],
        [ 5,  7],
        [ 9, 11]],

       [[13, 15],
        [17, 19],
        [21, 23]]])

In [32]:
ar=np.arange(1,13).reshape(4,3)
print(ar)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

# Ravel()

In [ ]:
#Ravel Function convert Multi-D to 1D

In [33]:
ar.ravel()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

# Flatten()

In [34]:
ar.flatten()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [35]:
ar.flatten(order= 'C')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [36]:
ar.flatten(order='F')

array([ 1,  4,  7, 10,  2,  5,  8, 11,  3,  6,  9, 12])

In [37]:
ar.flatten(order='A')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [38]:
ar.flatten(order='K')

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

# Transpose()

In [39]:
# convert Row into Column

In [41]:
ar

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [40]:
ar.transpose()

array([[ 1,  4,  7, 10],
       [ 2,  5,  8, 11],
       [ 3,  6,  9, 12]])

In [42]:
## short key for transpose
ar.T

array([[ 1,  4,  7, 10],
       [ 2,  5,  8, 11],
       [ 3,  6,  9, 12]])